
<style>
#header{
    display: none !important;
}
#footer{
    display: none !important;
}
#menu{
    display: none !important;
}
#fix-height-50px{
    display: block;
    height: 50px;
}
</style>
<div id="fix-height-50px"></div>
<!-- Content -->
<%- item.content %>



